.navigator{
    top: 0;
    height: 80px;
}
footer{
    bottom:0;
    height:70px;   /* Height of the footer */
}
.content{
    padding-top: 50px;
    padding-bottom:150px;   /* Height of the footer */
}

.progressMenu{
    padding-top: 30px;
    padding-bottom: 30px;
}