<article>
  <div class="container">
    <h1>{{ title }}</h1>
    <div class="meta">
        {{#if date}}Published: {{ date }}{{/if}}
    </div>
  </div>
  <div class="container">
    {{{ contents }}}
  </div>
</article>