<footer class="row text-center fixed-bottom">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="container-fluid">
                <ul class="navbar-nav justify-content-center me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="https://t.me/informatropico"><i class="bi bi-telegram"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="https://www.instagram.com/informatropico/"><i class="bi bi-instagram"></i></a>
                    </li>
                </ul>
            </div>                   
        </div>
    </nav>
</footer>