<div class="container navigator">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="../assets/images/logo.svg" alt="logo" class="rounded-circle" width="40" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container-fluid">
                    <ul class="navbar-nav justify-content-center me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../readprogress">#Read</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../thinkprogress">#Think</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../devprogress">#Dev</a>
                        </li>
                        -->
                    </ul>              
                </div>  
            </div>
        </div>
    </nav>
</div>
