<!DOCTYPE html>
<html>
  <head>
    {{>header }}
  </head>
  <body>
    {{>navbarProgress }}
    <div class="content container col-sm-6">
      <div class="container">
        <h1 style="padding-bottom: 50px;">#DevProgress</h1>
        <div class="container">
          <blockquote class="blockquote text-center">
            <p class="mb-10">Avanzamento o trasformazione graduale contrassegnati da un sempre maggiore aumento di capacità e potenzialità.</p>
            <footer class="blockquote-footer">Definizione di <cite title="Source Title">Progresso</cite></footer>
          </blockquote>
        </div>
        <p>Ci sono due avvenimenti fondamentali nella mia vita che hanno segnato la mia vicinanza e passione verso la tecnologia.</p>
        <p>Il primo avvenimento risale ad un sabato mattina del 1998 (avevo 7 anni). Mio padre mi portò a visitare il suo posto di lavoro, 
          entrati nell'ufficio costituito da una serie di postazioni con terminale accese il suo, aprì un file di testo, mi fece digitare il mio 
          nome e cognome e lanciò una stampa su una stampante ad aghi dal rumore infernale. Tornai a casa con un plico di fogli con sopra scritto 
          in stampatello "****** *******". E lo avevo fatto io.
        </p>
        <p>
          Il secondo episodio risale a due anni più tardi, nel 2000. Tra noi bambini era esploso il fenomeno <i>Pokémon</i> e tra figurine, carte da gioco,
          giornalini, game boy e disegni i pomeriggi erano ben impegnati. 
          Ma esisteva un luogo ancora inesplorato e un pomeriggio, nella camera di mio zio (che meriterebbe una trattazione a parte per le meraviglie che contiene), 
          sulla tastiera di un iMac G3 blu, digitai <i>www.pokemon.com</i>.
        </p>
        <p>
          La mia crescita è sempre stata accompagnata dalla consapevolezza che la tecnologia avrebbe fatto parte della mia vita non solo dal punto 
          di vista <i>consumer</i> e così è stato. Oggi lavoro in una società che si occupa di sviluppo software.
        </p>
        <p>
          In questo luogo non vi racconterò del mio lavoro ma proverò a raccontarvi un percorso indipendente, che ricomincia dalle basi alla ricerca 
          dell'architettura del software. In questo spazio proverò a raccontarvi il mio progresso in un ambiente che è esploso di possibilità.
          Proprio per questo motivo il mio raggio d'azione si muove nel perimetro dello sviluppo e dell'architettura della parte backend di applicazioni web
          sfruttando il framework .NET di Microsoft e il linguaggio C#. 
        </p>
        <p>
          Se vi ho incuriosito vi aspetto nei link sotto.
        </p>
      </div>
      <div class="container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Titolo</th>
              <th scope="col">Data</th>
            </tr>
          </thead>
          <tbody>
            {{#each dev}}
              {{#if draft}}
              {{else}}
                <tr>
                  <td class="titolo"><a class="link-secondary" href="../{{ path }}">{{ title }}</a></td>
                  <td class="data">{{date}}</td>
                </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    {{>footer }}
  </body>  
</html>