{{> header }}
<div class="container">
  <h1>{{ site.name }}</h1>
</div>
<div class="container">
  <nav>---<br /><a href="readprogress">#ReadProgress</a></nav> 
  <nav>---<br /><a href="devprogress">#DevProgress</a></nav>
  <nav>---<br /><a href="thinkprogress">#ThinkProgress</a></nav>
</div>
{{> footer }}