<!DOCTYPE html>
<html>
  <head>
    {{> header }}
  </head>
  <body>
    {{> navbar-progress }}
    <div class="content container col-sm-6">
      <div class="container">
        <h1 style="padding-bottom: 50px;">#ThinkProgress</h1>
        <div class="container">
          <blockquote class="blockquote text-center">
            <p class="mb-10">Avanzamento o trasformazione graduale contrassegnati da un sempre maggiore aumento di capacità e potenzialità.</p>
            <footer class="blockquote-footer">Definizione di <cite title="Source Title">Progresso</cite></footer>
          </blockquote>
        </div>
        <p>
          La prospettiva del progresso è la prospettiva dell'evoluzione, del cambiamento e dell'apprendimento. Grazie a questa prospettiva 
          possiamo iniziare qualcosa senza la pretesa che alla sua genesi sia già compiuta.
          Questa spinta a migliorare, conoscere e imparare è la fiaccola dell'intero progetto, ma in questo spazio in particolare sono aperte 
          le porte della contaminazione, dell'esplorazione libera e della suggestione.
          Non c'è un tema, è un racconto di pensiero, evoluzione, esperimenti ed errori. Questo è lo spazio che mi sono riservato per esplorare
          quello che mi incuriosisce ed è un impegno verso me stesso: cercare e provare per raccontare.
        </p>
        <p>
          Tra queste mura virtuali potrete leggere potenzialmente di qualsiasi cosa (che mi abbia incuriosito) raccontata dal mio punto di vista, 
          dal mio riflesso personale. 
          L'unica regola che mi sono imposto è di raccontare sempre i miei perchè, di non fare recensioni o tutorial ma di cercare un po' più a fondo.
        </p>
        <p>
          Se vi ho incuriosito vi aspetto nei link sotto.
        </p>
      </div>

      <div class="container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Titolo</th>
              <th scope="col">Data</th>
            </tr>
          </thead>
          <tbody>
            {{#each think}}
              {{#if draft}}
              {{else}}
                <tr>
                  <td class="titolo"><a class="link-secondary" href="../{{ path }}">{{ title }}</a></td>
                  <td class="data">{{date}}</td>
                </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    {{> footer }}
  </body>  
</html>